$color-main: #ef0031
$color-second: #343a40

*
    font-family: 'Lexend Deca', sans-serif


.text-main
    color: $color-main

.bg-main
    background-color: $color-main !important

.btn-main
    width: 15%
    height: 50px
    background-color: $color-second
    border: none
    color: white
    transition: background-color 300ms

.btn-main:focus
    outline: none

.title
    font-size: 60px
    font-family: 'Permanent Marker', cursive
    color: #343a40
    text-transform: uppercase

.title span
    font-family: 'Permanent Marker', cursive
